{% extends "basic_app/dashboard.html" %}
 {% block body_block %}


    <br>
    <h1 class="text-white fw-bold">Sales</h1>
    <a class="btn btn-dark" href="{% url 'basic_app:add_sales' %}" role="button">Add</a>

    <div class="mt-4 p-5 bg-light  text-white rounded">
      {% if sales_data %}
      <table class="table">
        <thead class="thead-dark">
          <th scope="col">Seller Id</th>
          <th scope="col">Product Id</th>
          <th scope="col">Sales Date</th>
          <th scope="col">Sales Qty</th>
        </thead>
        {% for sales in sales_data %}
          <tr>
            <td>{{ sales.seller_id  }}</td>
            <td>{{ sales.product_id }}</td>
            <td>{{ sales.sales_date }}</td>
            <td>{{ sales.sales_qty }}</td>
          </tr>
          {% endfor %}
      </table>
      {% else %}
      <p>NO ACCESS RECORDS FOUND</p>
      {% endif %}

    </div>


    {% endblock %}
